* {
    box-sizing: border-box;
}
body{
    font-family: "roboto";
    background-color: #EEEEEE;
    max-width: 600px;
    cursor: default;
}
h1{
    font-family: "righteous";
    font-size: 44px;
    color: #ffffff;
    margin-bottom: 1px;
}
h2{
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}
header{
    background-color: #CF2B2B;
    height: 92px;
    padding: 15px 0 0 21px;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
main{
    padding: 35px 0 16px 19px;
}
main span{
    font-family: "righteous";
    font-size: 26px;
    color: #333333;
}
.opcao {
    width: 172px;
    border-radius: 9px;
    box-shadow: 0 0 10px -4px rgb(0, 0, 0, 0.25);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 14px 13px 14px;
    position: relative;
  }
.opcao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.opcao:hover{
    cursor: pointer;
}
.sobremesa img{
    height: 82px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}
h4 {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    line-height: 18px;
}
p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
section{
    display: flex;
    gap: 16px;
    margin-top: 14px;
    margin-bottom: 31px;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none;
  }
section:last-child{
    margin-bottom: 0px;
}
footer{
    height: 92px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
}
button{
    height: 61px;
    width: 100%;
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    border: 0;
    border-radius: 50px;
}
/*button:hover{
    cursor: pointer;
}*/
footer span{
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
/*a{
    text-decoration: none;
    display: block;
}*/
ion-icon{
    font-size: 19px;
    color: #32B72F;
    position: absolute;
    bottom: 14px;
    right: 14px;
}
.boxGreen{
    box-shadow: inset 0 0 0 5px #32B72F;
}
.escondido{
    display: none;
}
.fundoVerde{
    background-color: #32B72F;
}

